In [66]:
import numpy as np
from scipy import stats
import statsmodels.stats.api as sms

import seaborn as sns
data = np.random.normal(0, 1, 100)
# sns.histplot(data)

In [10]:
df = pd.read_csv('titanic.csv', index_col=0)
df.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [42]:
# мода
df['Age'].mode()

stats.mode(df['Age'], keepdims=True)

ModeResult(mode=array([nan]), count=array([177]))

In [43]:
# медиана
df['Age'].median()

np.median(df['Age'])

nan

In [44]:
# среднее арифметическое
df['Age'].mean()

np.mean(df['Age'])

29.69911764705882

In [63]:
# размах
np.percentile(df['Survived'], [0, 100])

np.max(df['Survived']) - np.min(df['Survived'])

df['Survived'].max() - df['Survived'].min()

1

In [46]:
# дисперсия
df['Age'].var()

np.var(df['Age'])

210.72357975366614

In [47]:
# среднеквадратическое (стандартное) отклонение
df['Age'].std()

np.std(df['Age'])

14.516321150817316

In [65]:
# квантили
df['Age'].quantile(q=0.75)

df['Age'].quantile(q=[0.25, 0.5, 0.75])

0.25    20.125
0.50    28.000
0.75    38.000
Name: Age, dtype: float64

In [67]:
# Стандартизация
new_data = [(elem - np.mean(data)) / np.std(data) for elem in data]
new_data2 = stats.zscore(data)
sum(new_data) == sum(new_data2)

True

In [68]:
# стандартная ошибка среднего 
se1 = np.std(data) / np.sqrt(len(data))
se2 = stats.sem(data)
print(se1); print(se2)

0.08520206199566052
0.0856312942436986

In [69]:
# доверительный интервал

# первый способ
stats.t.interval(0.95, len(data) - 1, loc=np.mean(data), scale=stats.sem(data))  # confidence = 95%

# второй способ
sms.DescrStatsW(data).tconfint_mean(alpha=0.05)  # двусторонний доверительный интервал для средневзвешенного значения данных

# третий способ
# для 95%:
(np.mean(data) - 1.96 * stats.sem(data), np.mean(data) + 1.96 * stats.sem(data))
# для 99%:
(np.mean(data) - 2.58 * stats.sem(data), np.mean(data) + 2.58 * stats.sem(data))

(-0.23324367775277408, 0.2086138005447107)