In [2]:
import pandas as pd
import numpy as np

### Объекты библиотеки Pandas

In [3]:
# pd.Series - одномерный массив или специализированный словарь
# pd.DataFrame - двумерный массив или специализрованная версия словаря
# pd.Index - неизменяемый массив (immutable array) / упорядоченное множество (ordered set)

pandas.core.indexes.base.Index

### Series

In [10]:
data = pd.Series([1, 2, 3, 4, 5])
print(data.values)
print(data.index)

[1 2 3 4 5]
RangeIndex(start=0, stop=5, step=1)

In [13]:
data[1:3] # обращение по индексу

1    2
2    3
dtype: int64

In [14]:
data = pd.Series([1, 2, 3, 4, 5], index=['a', 'b', 'c', 'd', 'e'])
data

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [18]:
data['a':'b']

a    1
b    2
dtype: int64

In [33]:
num_dict = {
    "Moscow": 1,
    "Voronezh": 2,
    "SaintP": 3
}
nums = pd.Series(num_dict)
print(nums["Voronezh"])
print("==============")
print(nums["Moscow":"Voronezh"])

2
==============
Moscow      1
Voronezh    2
dtype: int64

### DataFrame

In [29]:
likes_dct = {
    "Moscow": 1000,
    "Voronezh": 300,
    "SaintP": 600
}
likes = pd.Series(likes_dct)
likes

Moscow      1000
Voronezh     300
SaintP       600
dtype: int64

In [34]:
russia = pd.DataFrame({'nums':nums, 'likes':likes})
russia

          nums  likes
Moscow       1   1000
Voronezh     2    300
SaintP       3    600

In [37]:
print(russia.values)
print("==========")
print(russia.index)

[[   1 1000]
 [   2  300]
 [   3  600]]
==========
Index(['Moscow', 'Voronezh', 'SaintP'], dtype='object')

In [38]:
russia.columns

Index(['nums', 'likes'], dtype='object')

### Созданиие DataFrame

In [41]:
# Из одного объекта Series
pd.DataFrame(nums, columns=["num"])

          num
Moscow      1
Voronezh    2
SaintP      3

In [45]:
# Из списка словарей
data = [{'a':i, 'b': 2 * i} for i in range(3)]
print(data)
pd.DataFrame(data)

[{'a': 0, 'b': 0}, {'a': 1, 'b': 2}, {'a': 2, 'b': 4}]

   a  b
0  0  0
1  1  2
2  2  4

In [48]:
# из словаря объектов Series
russia = pd.DataFrame({'nums':nums, 'likes':likes})
russia

          nums  likes
Moscow       1   1000
Voronezh     2    300
SaintP       3    600

In [57]:
# Из двумерного массива Numpy
pd.DataFrame(np.random.random((3, 2)), columns=["col_1", "col_2"], index=['a', 'b', 'c'])

      col_1     col_2
a  0.084004  0.807196
b  0.817028  0.270403
c  0.812955  0.379432

In [63]:
# Из структурированного массива Numpy
a = np.zeros(3, dtype=[('A', 'i8'), ('B', 'f8')])
print(a)
pd.DataFrame(a)

[(0, 0.) (0, 0.) (0, 0.)]

   A    B
0  0  0.0
1  0  0.0
2  0  0.0

### Объект Index

In [65]:
ind = pd.Index([2, 3, 5, 7, 11])
ind

Int64Index([2, 3, 5, 7, 11], dtype='int64')

In [69]:
print(ind[1])
print(ind[::2])
print(ind.size, ind.shape, ind.ndim, ind.dtype)

3
Int64Index([2, 5, 11], dtype='int64')
5 (5,) 1 int64

In [4]:
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])
# пересечение
print(f"{indA & indB} - пересечение")
# объединение
print(f"{indA | indB} - объединение")
# симметричная разность
print(f"{indA ^ indB} - симметричная разность")

Int64Index([3, 5, 7], dtype='int64') - пересечение
Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64') - объединение
Int64Index([1, 2, 9, 11], dtype='int64') - симметричная разность

C:\Users\Данила\AppData\Local\Temp\ipykernel_9016\1078302359.py:4: FutureWarning: Index.__and__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__and__.  Use index.intersection(other) instead
  print(f"{indA & indB} - пересечение")
C:\Users\Данила\AppData\Local\Temp\ipykernel_9016\1078302359.py:6: FutureWarning: Index.__or__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__or__.  Use index.union(other) instead
  print(f"{indA | indB} - объединение")
C:\Users\Данила\AppData\Local\Temp\ipykernel_9016\1078302359.py:8: FutureWarning: Index.__xor__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__xor__.  Use index.symmetric_difference(other) instead
  print(f"{indA ^ indB} - симметричная разность")